* {
    margin: 0;
    padding: 0;
}

:root {
    --gray-color: #2f2f2f;
    --lightgray-color: #838383;
    --red-color: rgb(155, 0, 0);
    --lightred-color: rgb(224, 0, 0);
    --bg-color: #654321;
    --light-bg-color: #865b2f;
    --universal-color: #f9f3e7;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: linear-gradient(var(--red-color),var(--gray-color));
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--lightred-color);
    border-radius: 10px;
    width: 5px;
  }

.header{
    height: 100px;
    background-image: url(./Images/header.png);
    background-size: cover;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav a img {
    margin: 0;
    padding: 0;
    margin-top: -25px;
    width: 250px;
}

.nav-links {
    flex: 1;
    text-align: right;
    margin-top: -25px;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
    gap: 10px;
}

.nav-links ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.more {
    display: none;
}

ul li:focus-within .more,
ul li:hover .more {
    display: block;
    position: absolute;
    border: 2px solid white;
    z-index: 10;
    color: white;
    margin-top: 2px;
    border-radius: 10px;
    padding: 5px;
    transition: 1s ease-in-out;
    background-image: linear-gradient(180deg, var(--red-color), var(--gray-color), var(--gray-color));
}

.more ul li a {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f10;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

nav .fa {
    display: none;
}

@media(max-width: 840px) {
    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: fixed;
        background: #2f2f2f;
        background-image: linear-gradient(180deg, var(--red-color), var(--gray-color), var(--gray-color));
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2000000000;
        transition: 1s;
        margin-top: 0;
    }

    nav a img{
        display: none;
    }

    nav .fa {
        display: contents;
        color: rgb(255, 255, 255);
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 10px;
    }

    .nav-links ul li a {
        font-size: 18px;
    }

    .more {
        width: 130px;
    }

    .more ul li a {
        margin-left: -15px;
        font-size: 18px;
    }
}

#bttbtn {
    display: none; 
    position: fixed; 
    bottom: 20px;
    right: 30px; 
    z-index: 100000; 
    border: none; 
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid #222;
    color: #222;
    font-size: 25px;
    padding: 10px 30px;
    background: white;
  }

  /* -----------------------biography------------------------- */

#biography {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#biography ::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    z-index: 10000;
    background: linear-gradient(to top, #000 20%, transparent);
}

#biography img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#m1 img{
    height: 500px;
    width: auto;
    margin: 0 350px;
}

@media (max-width:700px){
    #biography {
    position: relative;
    width: 100%;
    height: 30vh;
    overflow: hidden;
}

#biography ::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 10000;
    background: linear-gradient(to top, #000 20%, transparent);
}

#biography img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#m1 img{
    height: 200px;
    width: auto;
    margin: 0 50px;
}
}

/* -----------------------important dates---------------------- */

#dates {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    padding: 100px 0 100px 0;
}

.dates {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 1100px;
    height: 450px;
    background: #000;
    transition: 0.25s;
}

.dates .box {
    position: relative;
    background-image: var(--img);
    background-position: center;
    background-size: cover;
    transition: 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(0) brightness(1.25);
}

.dates:hover .box {
    filter: grayscale(1);
}

.dates .box:hover {
    filter: grayscale(0) brightness(1.25);
}

.dates:has(.one:hover) {
    grid-template-columns: 1.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
}

.dates:has(.two:hover) {
    grid-template-columns: 0.5fr 1.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
}

.dates:has(.three:hover) {
    grid-template-columns: 0.5fr 0.5fr 1.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
}

.dates:has(.four:hover) {
    grid-template-columns: 0.5fr 0.5fr 0.5fr 1.5fr 0.5fr 0.5fr 0.5fr;
}

.dates:has(.five:hover) {
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 1.5fr 0.5fr 0.5fr;
}

.dates:has(.six:hover) {
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 1.5fr 0.5fr;
}

.dates:has(.seven:hover) {
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 1.5fr;
}

.dates .box::before {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(100% + 2px);
    top: -1px;
    background: linear-gradient(#000, transparent, transparent, transparent, #000);
}

.dates .box:nth-child(even) {
    transform: translateY(30px);
}

.dates .box:nth-child(odd) {
    transform: translateY(-30px);
}

.dates .box::after {
    content: attr(data-text);
    position: absolute;
    bottom: -100px;
    background: white;
    color: #000;
    font-size: 1em;
    font-weight: 600;
    padding: 5px 10px;
    white-space: nowrap;
    transition: 0.5s;
    opacity: 0;
    -webkit-box-reflect: below 2px linear-gradient(transparent, #0003);
    font-family: "Lato", sans-serif;
}

.dates .box:hover::after {
    opacity: 1;
    bottom: -60px;
    transition-delay: 0.25s;
}

@media (max-width:700px) {
    #dates {
        overflow: hidden;
        min-height: 50vh;
        padding: 100px 0;
    }
    
    .dates {
        grid-gap: 5px;
        width: 100%;
        padding: 10px;
    }

    .dates:has(.one:hover) {
        grid-template-columns: 5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    }

    .dates:has(.two:hover) {
        grid-template-columns: 0.5fr 5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    }

    .dates:has(.three:hover) {
        grid-template-columns: 0.5fr 0.5fr 5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    }

    .dates:has(.four:hover) {
        grid-template-columns: 0.5fr 0.5fr 0.5fr 5fr 0.5fr 0.5fr 0.5fr;
    }

    .dates:has(.five:hover) {
        grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 5fr 0.5fr 0.5fr;
    }

    .dates:has(.six:hover) {
        grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 5fr 0.5fr;
    }

    .dates:has(.seven:hover) {
        grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 5fr;
    }

    .dates .box::after {
        padding: 2px 5px;
        font-size: 0.7em;
    }
}


/* ------------------------information-------------------- */
#parichay::before {
    content: '';
    background: linear-gradient(to bottom, #000, #f9f3e7 70%);
    position: absolute;
    height: 100px;
    width: 100%;
    z-index: 10000;
}

.parichay {
    background-color: #f9f3e7;
    /* background-image: url(./Images/mp1f.jpg); */
    background-size: cover;
    background-position: center;
    padding: 0 100px;
    padding-top: 100px;
}

.information {
    display: flex;
    flex-direction: column;
}

.information .img {
    background-image: url(./Images/mp1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    overflow: hidden;
    border-radius: 2000px;
    border: 10px solid lightgray;
    margin: 20px;
}

.information .img img {
    height: 250px;
    width: 250px;
}

.head {
    display: flex;
    flex-direction: row;
}

.heading {
    justify-items: center;
    margin: auto;
}

.heading h2 {
    font-size: 150px;
    font-family: "Eczar", serif;
    font-weight: 700;
    color: #654321;
}

.heading p {
    font-size: 50px;
    font-family: "Eczar", serif;
    font-weight: 500;
    margin-top: -80px;
    color: #865b2f;
}

.info {
    display: flex;
    flex-direction: row;
}

.infoq th {
    justify-content: start;
    text-align: left;
    font-size: 22px;
    padding: 5px 10px;
    font-family: "Eczar", serif;
    font-weight: 600;
    color: #654321;
}

.infoq td {
    justify-content: start;
    text-align: left;
    font-size: 22px;
    padding: 5px 10px;
    font-family: "Eczar", serif;
    font-weight: 500;
    color: #865b2f;
}

.infos {
    width: 1300px;
}

.infos p {
    padding: 0 20px;
    font-size: 25px;
    font-family: "Eczar", serif;
    font-weight: 400;
    text-align: justify;
    color: #654321;
}


@media (max-width: 700px) {
    .parichay{
        padding: 0 10px;
        padding-top: 100px;
    }
    .head {
        flex-direction: column-reverse;
    }

    .info {
        flex-direction: column;
    }

    .heading h2 {
        font-size: 50px;
        font-family: "Eczar", serif;
        font-weight: 700;
        color: #654321;
        text-align: center;
    }

    .heading p {
        font-size: 25px;
        margin-top: -10px;
        text-align: center;
    }

    .bline {
        height: 1px;
        width: 100%;
        background-color: #654321;
        margin: 10px 0;
    }

    .infoq th {
        font-size: 18px;
        padding: 2px 5px;
        font-weight: 500;
    }

    .infoq td {
        font-size: 18px;
        padding: 2px 5px;
        font-weight: 400;
    }

    .infos {
        width: 100%;
    }

    .infos p {
        padding: 20px;
        font-size: 20px;
        font-family: "Eczar", serif;
        font-weight: 400;
    }

    .information .img {
        height: 250px;
        width: 250px;
        margin: auto;
    }
}

/* ---------------------------- */

.panchkalyanak {
    display: flex;
    flex-direction: row;
}

.panchkalyanak1 {
    display: flex;
    flex-direction: column;
}

.p1head {
    background-color: var(--bg-color);
    color: white;
    width: 400px;
    height: 325px;
}

.p1head h2 {
    font-size: 150px;
    text-align: center;
    font-family: "Rozha One", serif;
    margin-top: -35px;
}

.p1head h3 {
    font-size: 55px;
    text-align: center;
    font-family: "Rozha One", serif;
}
.p1img{
    border: 5px solid var(--bg-color);
    overflow: hidden;
    width: 390px;
    background: var(--bg-color);
}

.p1img img{
    width: 400px;
}

.p1para {
    width: 390px;
    border: 5px solid var(--bg-color);
    background: #f9f3e7;
}

.p1para h4 {
    font-size: 50px;
    text-align: center;
    color: var(--bg-color);
    font-family: "Rozha One", serif;
}

.p1para p {
    font-size: 25px;
    text-align: center;
    color: var(--light-bg-color);
    font-family: "Kalam", cursive;
    font-weight: 900;
}

.panchkalyanak2 {
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    width: 100%;
}

.p2img {
    height: 320px;
    width: 100%;
    border: 5px solid var(--bg-color);
    overflow: hidden;
    background: var(--bg-color);
    display: flex;
    flex-direction: row;
}

.p2img img {
    width: 100%;
    height: auto;
}

.p2para{
    align-items: center;
    justify-content: center;
    background: white;
}

.p2para h2{
    text-align: center;
    font-size: 100px;
    font-family: "Rozha One", serif;
    color: var(--bg-color);
}

.p2para p{
    text-align: center;
    font-size: 30px;
    font-family: "Kalam", cursive;
    font-weight: 600;
    color: var(--light-bg-color);
}

.p8 img{
    width: 100%;
    height: 515px;
    border-top: 5px solid var(--bg-color);
}

.panchkalyanak3{
    display: flex;
    flex-direction: column;
    width: 420px;
    border: 5px solid var(--bg-color);
    background: var(--bg-color);
}

@media (max-width:700px){
    .panchkalyanak {
        flex-direction: column;
    }
    
    .p1head {
        width: 100%;
    }

    .p1img{
        width: calc(100% - 10px);
    }
    
    .p1img img{
        width: 100%;
        height: auto;
    }
    
    .p1para {
        width: calc(100% - 10px);
    }
    
    .panchkalyanak2 {
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
    }
    
    .p2img {
        height: 100%;
        width: calc(100% - 10px);
    }

    .p2para{
        padding: 10px;
    }
    
    .p2para p{
        font-size: 25px;
    }
    
    .p8 img{
        width: 100%;
        height: auto;
        border-top: 5px solid var(--bg-color);
    }

    .panchkalyanak3{
        width: calc(100% - 10px);
    }
}

/* ----------------------------------------- */

.life{
    background-color: #222;
    padding-bottom: 100px;
}

.life1 h2{
    font-size: 75px;
    text-align: center;
    font-family: "Rozha One", serif;
    color: white;
}
.life1 p{
    font-size: 30px;
    text-align: justify;
    font-family: "Eczar", serif;
    color: white;
    padding: 0 100px 0 100px;
}



.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
    transform-style: preserve-3d;
}

.gallery1{
    position: relative;
    display: flex;
    transform-style: preserve-3d;
    perspective: 500px;
}

.gallery1 .item{
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 150px);
    width: 300px;
    height: 450px;
    background: #fff;
    transition: 0.5s;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    transform-style: preserve-3d;
    transform-origin: center;
    user-select: none;
    -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0002);
    border-radius: 20px;
    overflow: hidden;
}

.gallery1 .item:nth-child(1){
    transform: translate3d(-350px,0,0) scale(0.7) ;
    z-index: 1;
}
.gallery1 .item:nth-child(2){
    transform: translate3d(-250px,0,0) scale(0.8);
    z-index: 2;
}
.gallery1 .item:nth-child(3){
    transform: translate3d(-150px,0,0) scale(0.9);
    z-index: 3;
}
.gallery1 .item:nth-child(4){
    transform: translate3d(0,0,0) scale(1) ;
    z-index: 4;
}
.gallery1 .item:nth-child(5){
    transform: translate3d(150px,0,0) scale(0.9);
    z-index: 3;
}
.gallery1 .item:nth-child(6){
    transform: translate3d(250px,0,0) scale(0.8);
    z-index: 2;
}
.gallery1 .item:nth-child(7){
    transform: translate3d(350px,0,0) scale(0.7);
    z-index: -1;
}

.gallery1 .item img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button{
    position: absolute;
    bottom: 75px;
    display: flex;
    gap: 20px;
}

.button span{
    position: relative;
    width: 50px;
    height: 50px;
    border: 3px solid white;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}

.button span:hover{
    opacity: 1;
}

.button span::before{
    content: '';
    position: absolute;
    left: 20px;
    width: 10px;
    height: 10px;
}
.button span:last-child:before{
    content: '';
    position: absolute;
    left: initial;
    width: 10px;
    height: 10px;
}

.button i{
    color: white;
    font-size: 20px;
}

.life2{
    border: 2px solid white;
    margin: 0 100px 0 100px;
    border-radius: 50px;

}

.life2 h2{
    font-size: 45px;
    color: white;
    text-align: center;
    font-family: "Rozha One", serif;
    font-weight: 500;
    padding: 20px 200px 0 200px;
}

.life2 p{
    font-size: 25px;
    text-align: justify;
    font-family: "Eczar", serif;
    color: white;
    padding: 20px 100px;
}

@media (max-width:700px){
    
    .life1 h2{
        font-size: 65px;
    }
    .life1 p{
        padding: 20px;
    }
    
    .gallery1 .item{
        position: absolute;
        left: calc(50% - 100px);
        width: 200px;
        height: 300px;
    }

    .gallery1 .item:nth-child(1){
        transform: translate3d(-120px,0,0) scale(0.7) ;
        z-index: 1;
    }
    .gallery1 .item:nth-child(2){
        transform: translate3d(-80px,0,0) scale(0.8);
        z-index: 2;
    }
    .gallery1 .item:nth-child(3){
        transform: translate3d(-40px,0,0) scale(0.9);
        z-index: 3;
    }
    .gallery1 .item:nth-child(4){
        transform: translate3d(0,0,0) scale(1) ;
        z-index: 4;
    }
    .gallery1 .item:nth-child(5){
        transform: translate3d(40px,0,0) scale(0.9);
        z-index: 3;
    }
    .gallery1 .item:nth-child(6){
        transform: translate3d(80px,0,0) scale(0.8);
        z-index: 2;
    }
    .gallery1 .item:nth-child(7){
        transform: translate3d(120px,0,0) scale(0.7);
        z-index: -1;
    }
    .button{
        bottom: 50px;
        margin-bottom: 200px;
    }

    .life2{
        margin: 0 20px;
    }
    
    .life2 h2{
        font-size: 35px;
        padding: 10px 20px;
    }
    
    .life2 p{
        font-size: 25px;
        padding: 10px 20px;
    }
}

/* ----------------diksha-------------------- */

.diksha{
    background: #f9f3e7;
}

.diksha p{
    font-size: 30px;
    text-align: center;
    font-family: "Eczar", serif;
    font-weight: 600;
    color: var(--bg-color);
    border: 5px solid var(--bg-color);
    border-radius: 15px;
    padding: 20px;
    width: 800px;
    margin: auto;
}

.diksha1 h2{
    font-size: 100px;
    text-align: center;
    font-family: "Rozha One", serif;
    color: var(--bg-color);
}

.diksha2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.diksha2 p{
    font-size: 26px;
    text-align: justify;
    font-family: "Eczar", serif;
    font-weight: 400;
    padding: 20px 0 20px 20px;
    margin: 20px;
    height: 360px;
    color: var(--light-bg-color);
    align-items: center;
    border: none;
}

.diksha2 img{
    height: 400px;
    margin: 50px;
    border: 5px solid var(--bg-color);
}

@media (max-width: 700px){

    .diksha p{
        font-size: 15px;
        border-radius: 15px;
        width: auto;
        margin: 10px;
    }
    
    .diksha1 h2{
        font-size: 45px;
    }
    
    .diksha2{
        flex-direction: column;
    }
    
    .diksha2 p{
        padding: 10px;
        height: auto;
        font-size: 20px;
    }
    
    .diksha2 img{
        height: auto;
        width: 90%;
        margin: 10px;
    }
}

/* -------------------upsangh--------------- */

.sangh{
    background: var(--universal-color);
}

.sangh h2{
    font-size: 100px;
    text-align: center;
    font-family: "Rozha One", serif;
    color: var(--bg-color);
}
.sangh h3{
    font-size: 50px;
    text-align: center;
    font-family: "Rozha One", serif;
    color: var(--bg-color);
    font-weight: 600;
}

.sangh1{
    display: flex;
    flex-direction: row;
}

.sangh2{
    margin: 100px;
}

.sangh2 img{
    width: 600px;
    border: 5px solid var(--bg-color);
}

.sanghp p{
    font-size: 45px;
    text-align: center;
    font-family: "Eczar", serif;
    color: var(--light-bg-color);
    padding-left: 100px;
    margin-top: 100px;
}

.sanghimg{
    background: #222;
}

.sanghimg marquee img{
    height: 250px;
    padding: auto;
    padding-top: 8px;
}

.wj{
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.wj img{
    width: 200px;
}

.wj p{
    padding: 20px;
    font-size: 30px;
    font-family: "Eczar", serif;
    color: var(--light-bg-color);
    text-align: justify;
}

.wjbtn{
    background: var(--light-bg-color);
    color: white;
    padding: 10px;
    font-size: 20px;
    border: 1px solid var(--bg-color);
}
.wjbtn:hover{
    background: var(--bg-color);
    transition: 0.5s ease-in-out;
}

.wj video{
    border: 5px solid var(--bg-color);
}

@media (max-width: 700px){
    
    .sangh h2{
        font-size: 75px;
    }
    .sangh h3{
        font-size: 35px;
    }
    
    .sangh1{
        display: flex;
        flex-direction: column;
    }
    
    .sangh2{
        margin: auto;
    }
    
    .sangh2 img{
        width: 94%;
        height: auto;
        margin: 8px;
    }
    
    .sanghp p{
        font-size: 25px;
        text-align: center;
        font-family: "Eczar", serif;
        color: var(--light-bg-color);
        padding-left: 0;
        padding: 10px;
        margin-top: 10px;
    }

    .wj{
        display: flex;
        flex-direction: column-reverse;
        padding: 20px;
    }
    
    .wj p{
        padding: 10px;
        font-size: 18px;
        font-family: "Eczar", serif;
        color: var(--light-bg-color);
        text-align: justify;
    }
    
    .wj video{
        height: auto;
    }

    .wjbtn{
        background: var(--light-bg-color);
        color: white;
        padding: 10px;
        font-size: 20px;
        border: 1px solid var(--bg-color);
    }
    .wjbtn:hover{
        background: var(--bg-color);
        transition: 0.5s ease-in-out;
    }
    
    .wj video{
        border: 5px solid var(--bg-color);
    }
}

/* ------------------sahitya---------------- */

#sahitya{
    background: var(--universal-color);
}

.shead{
    display: flex;
    flex-direction: row;
    padding: 20px 100px;
    justify-content: space-evenly;
}

.shead h1{
    text-align: center;
    font-size: 100px;
    font-family: "Rozha One", serif;
    color: var(--bg-color);
}

.shead img{
    height: 200px;
    width: auto;
    border-radius: 30px;
    border: 5px solid var(--bg-color);
}

.sahitya{
    padding: 25px 0;
}

.sahitya h2{
    text-align: center;
    font-size: 40px;
    font-family: "Rozha One", serif;
    color: var(--bg-color);
}

.sahitya1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.sahitya1 li{
    font-family: "Eczar", serif;
    font-size: 20px;
    color: var(--light-bg-color);
    font-weight: 500;
}

.sbtn{
    margin: 10px 100px;
    background: var(--light-bg-color);
    color: white;
    padding: 10px;
    font-size: 20px;
    border: 1px solid var(--bg-color);
}

@media (max-width: 700px){
    .shead{
        flex-direction: column-reverse;
        padding: 10px 20px;
    }
    
    .shead h1{
        font-size: 50px;
    }
    
    .shead img{
        height: 300px;
        width: auto;
    }
    
    .sahitya{
        padding: 20px 0;
    }
    
    .sahitya h2{
        font-size: 30px;
    }
    
    .sahitya1{
        grid-template-columns: 1fr 1fr;
        display: inline;
    }

    .sahitya1 li{
        padding-left: 20px;
    }
}