*{
    margin: 0;
    padding: 0;
}

:root {
    --gray-color: #2f2f2f;
    --lightgray-color: #838383;
    --red-color: rgb(155, 0, 0);
    --lightred-color: rgb(224, 0, 0);
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: linear-gradient(var(--red-color),var(--gray-color));
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--lightred-color);
    border-radius: 10px;
    width: 5px;
  }


/* ------------------universal things---------------- */
.header{
    height: 100px;
    background-image: url(./Images/header.png);
    background-size: cover;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav a img {
    margin: 0;
    padding: 0;
    margin-top: -25px;
    width: 250px;
}

.nav-links {
    flex: 1;
    text-align: right;
    margin-top: -25px;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
    gap: 10px;
}

.nav-links ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.more {
    display: none;
}

ul li:focus-within .more,
ul li:hover .more {
    display: block;
    position: absolute;
    border: 2px solid white;
    z-index: 10;
    color: white;
    margin-top: 2px;
    border-radius: 10px;
    padding: 5px;
    transition: 1s ease-in-out;
    background-image: linear-gradient(180deg, var(--red-color), var(--gray-color), var(--gray-color));
}

.more ul li a {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f10;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

nav .fa {
    display: none;
}

#bttbtn {
    display: none; 
    position: fixed; 
    bottom: 20px;
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid #222;
    color: #222;
    font-size: 25px;
    padding: 10px 30px;
    background: white;
  }

  @media(max-width: 840px) {
    .header{
        background-image: none;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: fixed;
        background: #2f2f2f;
        background-image: linear-gradient(180deg, var(--red-color), var(--gray-color), var(--gray-color));
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
        margin-top: 0;
    }

    nav a img{
        display: none;
    }

    nav .fa {
        display: contents;
        color: rgb(0, 0, 0);
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 10px;
    }

    .nav-links ul li a {
        font-size: 18px;
    }

    .more {
        width: 130px;
    }

    .more ul li a {
        margin-left: -15px;
        font-size: 18px;
    }
}

.english {
    display: none;
}

.symposium1 h2{
    font-size: 50px;
    color: #d80000;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    padding-top: 20px;
}

.symposium2{
    display: flex;
    flex-direction: column;
    margin: 50px 100px;
    background: hsl(0, 100%, 98%);
    border-radius: 20px;
}

.symposium2 h3{
    text-align: center;
    font-size: 35px;
    color: #d80000;
    font-family: "Jaini", serif;
    font-weight: 400px;
}

.symposium3{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.symposium2 p{
    font-size: 20px;
    text-align: justify;
    padding: 0px 20px;
    padding-top: -20px;
    color: rgb(54, 54, 54);
    font-family: "Martel", serif;
}
.symposium3 p{
    font-size: 20px;
    width: 650px;
    text-align: justify;
    padding: 10px;
    font-family: "Martel", serif;
}

.symposium3 iframe{
    width: 560px;
    height: 315px;
}

.enBtn{
    text-align: center;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 50px;
    width: 250px;
    margin: auto;
    background: linear-gradient(90deg, var(--lightred-color), black);
    color: white;
    border: none;
    font-family: "Martel", serif;
    font-weight: 700;
}

span{
    text-align: right;
    margin-right: 50px;
}

@media(max-width: 768px){
    .symposium1 h2{
        font-size: 45px;
        padding-top: 0;
    }

    .symposium2{
        flex-direction: column;
        margin: 10px 20px;
        background: hsl(0, 100%, 98%);
        border-radius: 20px;
    }
    
    .symposium2 h3{
        text-align: center;
        font-size: 25px;
        color: #d80000;
        font-family: "Jaini", serif;
        font-weight: 400px;
    }
    
    .symposium3{
        padding: 20px;
        flex-direction: column;
    }

    .symposium3 p{
        width: auto;
    }

    .symposium3 p .hindi{
        font-size: 15px;
        font-weight: none;
    }
    .symposium3 p .english{
        font-size: 15px;
        font-weight: none;
    }

    .symposium3 iframe{
        width: 250px;
        height: 140.625px;
    }

    .enBtn{
        font-size: 12px;
        padding: 4px 6px;
        width: 200px;
    }
    
    span{
        font-size: 10px;
        padding: 10px;
    }

    .reverse{
        flex-direction: column-reverse;
    }
}